@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply flex flex-col items-center w-full min-h-screen bg-white-theme;
}

.grass {
  background-color: #9dcfab;
}
.psychic {
  background-color: #c975d6;
}
.water {
  background-color: #8ea9f0;
}
.poison {
  background-color: #ad9dcf;
}
.fire {
  background-color: #e9a36a;
}
.dragon {
  background-color: #bba591;
}
.electric {
  background-color: #e7e48b;
}
.rock {
  background-color: #a2b3b4;
}
.fighting {
  background-color: #dd6f6f;
}
.ground {
  background-color: #cf8e52;
}
.bug {
  background-color: #c2dd76;
}
.ghost {
  background-color: #d3b0f0;
}
.flying {
  background-color: #6dc8e4;
}
.ice {
  background-color: #c3e8f3;
}
.normal {
  background-color: #dfca91;
}
.fairy {
  background-color: #f1d4f7;
}
.steel {
  background-color: #b1b1b1;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  transform: translate(-50%, 5px);
}

[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  padding: 7px;
  min-width: 250px;
  max-width: 450px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 1);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  transition: 0.3s ease;
  font-family: 'Roboto';
}

[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: ' ';
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
[data-tooltip='false']:hover:before,
[data-tooltip='false']:hover:after {
  visibility: hidden;
  opacity: 0;
}
